/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.listStyle li {
	list-style-type: none;
	list-style-image: none;
}

.splitPanelSysProp {
	margin: 0px;
	padding: 0px;
}

/*.splitPanelSysProp div {
	margin: 0px;
	padding: 0px;
}*/